<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   
    <nav>
        <div class="site-title">
        <a href="/api/"><h1>Question & Answer Blog</h1></a>
        </div>
        <ul>
            <li><a href="/api/create">New Question</a></li>
            <li><a href="/api/signup">Signup</a></li>
            <li><a href="/api/">Logout</a></li>
        </ul>
    </nav>

    <div class="details content">
        <h2>Question</h2>
            <h2><%= data.username %></h2>
            <div class="content">
            <h3><%= data.question %>?</h3>
            <p><%= data.answer %></p>
            </div>
            <a class="delete" data-id="<%= data._id %>">delete</a>
    </div>
    <script src="/jquery.js"></script>
    <script src="/main.js"></script>

</body>
</html>