<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <div class="site-title">
        <a href="/api/"><h1>Question & Answer Blog</h1></a>
        </div>
        <ul>
            <li><a href="/api/create">New Question</a></li>
            <li><a href="/api/signup">Signup</a></li>
            <li><a href="/api/">Logout</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <% if(data.length > 0) { %>
            <% data.forEach(qns => { %>
                <a class="single" href="<%= qns._id%>">
                <h3 class="title"><%= qns.username %></h3>
                <h3 class="snippet"><%= qns.question %>?</h3>
                <p class="snippet"><%= qns.answer %></p>
                </a>
                <br>
           <% }) %>
        <% } else { %>
            <p>There are no questions to display...</p>
        <% } %>
    </div>
</body>
</html>