<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/api/"><h1>Question & Answer Blog</h1></a>
        </div>
        <ul>
            <li><a href="/api/create">New Question</a></li>
            <li><a href="/api/signup">Signup</a></li>
            <li><a href="/api/">Logout</a></li>
        </ul>
    </nav>

    <div class="create-blog content">
       <form action="/api/signup" method="POST">
        <label>Username</label>
        <input type="text" id="title" name="user" required>
        <label>Password</label>
        <input type="text" id="qn" name="pass" required>
        <button>Submit</button>
       </form>
    </div>
</body>
</html>